$tablet-min: 768px;
$tablet-max: 1024px; 
.login-main{
    margin-top: 5.5em;
    justify-content: center;
    .card-columns{
        column-count: 2;
        @media screen and (min-width: $tablet-min) and (max-width: $tablet-max){
            column-count: 1;
            margin-bottom: 2.7em;
        }
        @media screen and (max-width: $tablet-min){
            column-count: 1;
            margin-bottom: 2.7em;
        }
    }
    .card-header{
        font-weight: 100;
        font-size: 1.5em;
        color: white;
    }
    .card-body{
        text-align: start;
        .btn{
            width: 100%;
        }
    }
    .login{
        .card-header{
            background-color: #4cb30b;
        }
        .btn{
            background-color: #4cb30b;
            border-color: #4cb30b;
        }
        .forgivePassword{
            button{
                background-color: white;
                border: 0px;
                color: black;
                text-align: start;
                text-decoration: underline;
                padding: 0;
                width: auto;
                margin: .4em 0;
            }
        }
    }
    .signup{
        .card-header{
            background-color: #3fadff;
        } 
        .btn{
            background-color: #3fadff;
            border-color: #3fadff;
            margin-bottom: 0.5em;
        }
    }
}