.Footer{
    background-color: #3fadff; 
    bottom: 0;
    position: fixed;
    z-index: 1;
}

.row-footer{
    margin: 0;
}

.Nav {
    width: 100%;
    background-color: #3fadff;
    padding: .5em;
    position: fixed;
    left: 0;
    z-index: 2;
}

.Nav > .Botones > a,.Nav > .Botones > a:link, .Nav > .Botones > a:visited, .Nav > .Botones > a:hover,  .Nav > .Botones > a:active {
    color: white;
    text-decoration: none;
}

.btn-lupa{
    color: black;
    stroke-width: 2em;
}

.Contenedor{
    color: white;
}

.Contenedor .row{
    display: flex;
    align-items: center;
}

.Contenedor p{
    margin: 0;
    padding: 0;
}

.mb-2 {
    margin: 0;
}

.LogoImagen {
    width: 100%;
    padding: 0.5em;
}

.Botones{
    margin-top: .2em;
}

.Botones .btn-row{
    justify-content: end;
}

.btn-menu-desplegable{
    padding: .4em .5em;
}

.btn-menu-desplegable-icono{
    width: 1.5em;
    height: 1.5em;
    color: orange;
    stroke-width: .1em;
}

.carrito-cart{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    min-height: 200px;
    width: 30%;
    top: 4.5em;
    right: 0em;
    z-index: 2;
    color: black;
}

.carrito-cart .btn-pedido{
    width: 100%;
    background-color: #4cb30b;
    margin-top: 1.5em;
}

.carrito-cart .row-unidades-total :first-child{
    text-align: start;
}

.carrito-cart .row-unidades-total :last-child{
    text-align: end;
}

.carrito-cart .product-item-list{
    max-height: 30em;
    overflow-y: scroll;
    /*
    ** - Poner scroll -
    ** overflow: hidden;
    */
}

.carrito-cart > .toast{
    max-width: 100%;
    background-color: white;
    width: 100%;
}

@media screen and (max-width: 767px){
    .input-group{
        justify-content: center;
    }
    .LogoImagen {
        width: 100%;
        padding: 0;
    }
    .col-nav-logo{
        padding: 0;
    }
    .Botones .btn-row{
        justify-content: end;
    }
    .search-bar{
        margin: 0;
        padding-right: 0.1em;
    }
    .Botones{
        padding: 0;
        margin: 0;
    }
    .col-1{
        display: none;
    }
    .mr-sm-2{
        display: none;
    }
}
@media (min-width: 900px) and (max-width: 1024px) {
    .carrito-cart{
        width: 37%!important;
        right: 0em;
    }
}
@media (min-width: 768px) and (max-width: 900px) {
    .carrito-cart{
        width: 50%!important;
        right: 0em;
        top: 3.7em!important;
    }
    .LogoImagen {
        padding: 0;
    }
    .col-2{
        padding-inline: 1.5em;
    }
    .Botones .btn-row{
        justify-content: flex-end;
        padding-right: 1.5em;
    }
    .Botones{
        padding-right: 1.5em;
        padding: 0;
    }
    .col-nav-logo{
        padding: 0;
        margin: 0;
    }
    .col-md-2{
        max-width: 25%;
    }
}
@media (min-width: 400px) and (max-width: 768px) {
    .carrito-cart{
        width: 48%!important;
        right: 0em;
        top: 0.5em;
    }
}
@media screen and (max-width: 400px){
    .carrito-cart{
        width: 100%!important;
        right: 0em;
    }
}