.main-productos .row-inverse .col-md-2 {
  padding: 0;
}

.main-productos .contenedor-productos .card-title {
  text-align: start;
  border-bottom: 1px solid #ccc;
  padding: .7em;
}

.main-productos .contenedor-productos .producto .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-productos .contenedor-productos .producto .title-row {
  color: #929191;
}

.main-productos .contenedor-productos .producto .price-row {
  font-weight: 700;
}

.main-productos .contenedor-productos a {
  text-decoration: underline;
}

.main-productos .contenedor-productos a:link, .main-productos .contenedor-productos a:visited, .main-productos .contenedor-productos a:hover, .main-productos .contenedor-productos a:active {
  color: black;
}

.main-productos .panel-productos {
  margin-top: 5.5em;
  padding: 0;
}

.main-productos .panel-productos .col {
  padding: 0;
}

.main-productos .panel-productos .elemento-panel .card .card-title {
  background-color: #3fadff;
  color: white;
  padding: .5em;
}

.main-productos .panel-productos .elemento-panel .card .card-body {
  text-align: start;
  padding: 0 1.2em;
}

.main-productos .panel-productos .elemento-panel .row {
  width: 100%;
}

@media screen and (min-width: 450px) and (max-width: 1024px) {
  .main-productos .row-inverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-productos .contenedor-productos {
    margin-top: 0;
  }
  .main-productos .contenedor-productos .card-title {
    text-align: start;
    border-bottom: 1px solid #ccc;
    padding: .7em;
  }
  .main-productos .contenedor-productos .producto .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-productos .contenedor-productos .producto .title-row {
    color: #929191;
  }
  .main-productos .contenedor-productos .producto .price-row {
    font-weight: 700;
  }
  .main-productos .contenedor-productos a {
    text-decoration: underline;
  }
  .main-productos .contenedor-productos a:link, .main-productos .contenedor-productos a:visited, .main-productos .contenedor-productos a:hover, .main-productos .contenedor-productos a:active {
    color: black;
  }
  .main-productos .col-md-2 {
    max-width: 100%;
  }
  .main-productos .col-md-10 {
    max-width: 100%;
  }
  .main-productos .panel-productos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 5.5em;
    padding: 0;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-productos .panel-productos .row {
    padding: 0;
  }
  .main-productos .panel-productos .elemento-panel .card .card-title {
    background-color: #3fadff;
    color: white;
    padding: .5em;
  }
  .main-productos .panel-productos .elemento-panel .card .card-body {
    text-align: start;
    padding: 0 1.2em;
  }
  .main-productos .panel-productos .elemento-panel .row {
    width: 100%;
  }
}

@media screen and (max-width: 449px) {
  .main-productos .row-inverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-productos .contenedor-productos {
    margin-top: 0;
  }
  .main-productos .contenedor-productos .card-title {
    text-align: start;
    border-bottom: 1px solid #ccc;
    padding: .7em;
  }
  .main-productos .contenedor-productos .producto .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-productos .contenedor-productos .producto .title-row {
    color: #929191;
  }
  .main-productos .contenedor-productos .producto .price-row {
    font-weight: 700;
  }
  .main-productos .contenedor-productos a {
    text-decoration: underline;
  }
  .main-productos .contenedor-productos a:link, .main-productos .contenedor-productos a:visited, .main-productos .contenedor-productos a:hover, .main-productos .contenedor-productos a:active {
    color: black;
  }
  .main-productos .col-md-2 {
    max-width: 100%;
  }
  .main-productos .col-md-10 {
    max-width: 100%;
  }
  .main-productos .panel-productos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5.5em;
    padding: 0;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-productos .panel-productos .row {
    padding: 0;
  }
  .main-productos .panel-productos .elemento-panel .card .card-title {
    background-color: #3fadff;
    color: white;
    padding: .5em;
  }
  .main-productos .panel-productos .elemento-panel .card .card-body {
    text-align: start;
    padding: 0 1.2em;
  }
  .main-productos .panel-productos .elemento-panel .row {
    width: 100%;
  }
}
/*# sourceMappingURL=productos.css.map */