.general-container{
    margin-top: 5.5em;
    margin-bottom: 1.5em;
}
.detalleImg-second-line{
    margin-top: 2em;
    margin-bottom: 2em;
    img{
        cursor: pointer;
    }
}
.detalle-text-card{
    margin-top: 2em;
}
.title-detail{
    .title-title{
        text-align: left;
    };
    .toast-title{
        position: fixed;
        right: 1em;
    }
    .heartToBasket{
        text-align: end;
        padding-right: 0;
        .btn{
            &:hover{
                background-color: #3fadff;
            }
        }
    }
}
.detail-first-line{
    margin-bottom: 2em;
    .card{
        height: 25em;
    }
    .foto-taza{
        margin-top: 2em;
        img{
            max-width: 15em;
            max-height: 15em;
        }
    }
    .img-thumbnail{
        max-width: 5em;
    }
    .card-deck{
        width: 100%;
        margin: 0;
    }
}
.carrito{
    button{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border: 0px;
        padding: .5em 3em;
        img{
            margin-right: 1em;
            color: white;
        }
    }
}
.comprar{    
    button {
        background-color: #59FF96;
        color: white;
        padding: .5em 3em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border: 0px;
    } 
}
.colors{
    margin: 20px 0;
    padding: 20px 0;
    text-align: left;
    align-items: baseline;
    .color-item{
        span{
            margin-right: 15px;
        }
    }
    .color{
        width: 1.4em;
        height: 1.4em;
        text-align: left;
        border: 1px solid black;
        margin-right: 15px;
    }

}
.bottom-detail{
    margin-top: 2em;
    align-items: center;
    .Opiniones{
        justify-content: center;
    }
}
.cash-line{
    align-items: baseline;
    .cash{
        color: green;
        text-align: left;
    }
    .cont-btns{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        span:first-child{
            margin-right: 10px;
        }
    }
}
.description-list{
    text-align: left;
    margin-left: 1em;
    margin-top: 2em;
}
.star-row{
    justify-content: center;
}
.card-opinion{
    width: 100%;
}
.opiniones-row{
    border-bottom: 1px solid gray;
    margin-bottom: 2em;
}
.opinion-row{
    margin-bottom: 2em;
    text-align: left;
}
.card-opinion-row{
    margin: 0 15px!important;
}
.stars{
    margin-left: -15px;
}