.Footer{
    background-color: #3fadff;    
}

.Nav {
    width: 100%;
    background-color: #3fadff;
    padding: .5em;
}

.Nav > .Botones > a,.Nav > .Botones > a:link, .Nav > .Botones > a:visited, .Nav > .Botones > a:hover,  .Nav > .Botones > a:active {
    color: white;
    text-decoration: none;
}

.btn-lupa{
    color: black;
    stroke-width: 2em;
}

.Contenedor{
    color: white;
}

.Contenedor .row{
    display: flex;
    align-items: center;
}
.Contenedor p{
    margin: 0;
    padding: 0;
}

.mb-2 {
    margin: 0;
}
.LogoImagen {
    width: 20em;
    padding: 0.2em;
    margin-left: .5em;
}
.Botones{
    margin-top: .2em;
}

.btn-menu-desplegable{
    padding: .4em .5em;
}

.btn-menu-desplegable-icono{
    width: 1.5em;
    height: 1.5em;
    color: orange;
    stroke-width: .1em;
}
.carrito-cart{
    position: fixed;
    width: 20%;
    top: 5em;
    right: 2em;
    z-index: 1;
}